{% import '@SyliusShop/Common/Macro/money.html.twig' as money %}

<div class="item" {{ sylius_test_html_attribute('shipping-item') }}>
    <div class="field">
        <div class="ui radio checkbox" {{ sylius_test_html_attribute('shipping-method-checkbox') }}>
            {{ form_widget(form) }}
        </div>
    </div>
    <div class="content">
        <a class="header" {{ sylius_test_html_attribute('shipping-method-label') }}>{{ form_label(form) }}</a>
        {% if method.description is not null %}
            <div class="description">
                <p>{{ method.description }}</p>
            </div>
        {% endif %}

        {# CleverAgeSyliusColissimoPlugin start customization #}
        {% if method.isColissimoPickup %}
            {% include '@CleverAgeSyliusColissimoPlugin/Shipment/selectedPickupPoint.html.twig' %}
        {% endif %}
        {# CleverAgeSyliusColissimoPlugin end customization #}
    </div>
    <div class="extra">
        <div class="ui large right floated fee label" {{ sylius_test_html_attribute('shipping-method-fee') }}>
            {{ money.convertAndFormat(fee) }}
        </div>
    </div>
</div>

{# CleverAgeSyliusColissimoPlugin start customization #}
{% if method.isColissimoPickup %}
    {% include '@CleverAgeSyliusColissimoPlugin/Shipment/map.html.twig' with {
        'pickupPoints': clever_age_colissimo_get_pickup_points()
    } %}
{% endif %}
{# CleverAgeSyliusColissimoPlugin end customization #}
